.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d3436;
  width: 100%;
  height: calc(100vh - 8rem);
}
.form {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191919;
  width: 30rem;
  padding: 4rem;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.7), -2px -2px 12px rgba(0, 0, 0, 0.7);
}
.error__text {
  font-size: 1.6rem;
  color: #e74c3c;
  margin: 0.2rem 0 1rem;
}
.form__title {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
}
.form__input {
  background-color: transparent;
  display: block;
  outline: none;
  border-radius: 2.4rem;
  border: 0;
  margin: 2rem auto;
  padding: 1.4rem 1rem;
  border: 2px solid #74b9ff;
  text-align: center;
  color: #fff;
  width: 20rem;
  transition: all 0.25s linear;
}
.form__input:focus {
  width: 100%;
  border-color: #2ecc71;
}
.btn__login {
  background-color: transparent;
  display: block;
  outline: none;
  border-radius: 2.4rem;
  border: 0;
  margin: 2rem auto;
  padding: 1.4rem 0.4rem;
  border: 2px solid #2ecc71;
  text-align: center;
  color: #fff;
  width: 20rem;
  cursor: pointer;
  transition: all 0.25s;
}
.btn__login:hover {
  background-color: #2ecc71;
}
.loading {
  vertical-align: middle;
  margin-right: 1rem;
  animation: circle 1s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
