* {
  margin: 0;
  padding: 0;
}
body,
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 114rem;
  margin: 0 auto;
  flex-direction: column;
}
